.App {
  background:url("../src/images/Bg.png") no-repeat;
  background-size: cover;
  min-height:100vh;
}
.cursor-pointer{
  cursor: pointer;
}
.nav-align a{
  text-decoration: none;
  padding: 5px 10px;
  color: green;
}

